
<div class="container">

<%= form_for(book) do |f| %>
	<div class="field row">
		<%= f.label :title %><br>
		<%= f.text_field :title, class: "col-xs-3 book_title" %>
	</div>
	<p></p>

	<div class="field row">
		<%= f.label :body %><br><!-- ここを変更 -->
		<%= f.text_area :body, class: "col-xs-3 book_body" %>
	</div>

	<div class="actions row">
		<%= f.submit class: "btn btn-primary col-xs-3" %>
	</div>
<% end %>
</div>