<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<div class="row">
	<div class="col-xs-3">

		<h2>User info</h2>
		<%= render 'users/profile', user: current_user %>

		<h2>New book</h2>
		<%= render 'books/newform', book: @book %>

	</div>

	<div class="col-xs-9">
		<h2>Book detail</h2>

		<table class="table">
				<tr class = "book_<%= @book.id %>">
				<%= render 'detail', book: @book %>
				</tr>
		</table>

			<!-- コメント一覧 -->
		<table class = "comment_<%= @book.id %>">

			<h2>Book Comments</h2>
			<%= render 'books/comment', book: @book %>
		</table>
			<!-- コメント一覧 -->

			<!-- コメントform -->
		<div class="comment_form">
				<%= form_with(model:[@book, @book_comment], remote: true) do |f| %>
				<%= f.text_area :comment, size:"90x5" %>
				<%= f.submit "Comment", class: "btn btn-primary" %>
				<% end %>
		</div>
			<!-- コメントform -->

	</div>
</div>

